# Local-only files.
.serverless/
.vscode/
.DS_Store
node_modules
package-lock.json
*.pyc

# Files containing secrets
.env
serverless.yml

# include your virtual environment folder here
virtenv/
venv/
